* {
    margin: 0rem;
    padding: 0rem;
    outline: none;
}

.navbar {
    background-color: rgba(0, 0, 0, 1);
}

.navbar-nav {
    padding: 0rem;
    margin-right: 5rem;
}

.nav-link {
    margin: 0rem 0rem;
    padding: 0rem 1rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 3px 1px 5px black;
}
.nav-link:hover {
    color: rgb(255, 255, 255);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(244, 67, 54)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.form-inline button{
    padding:0.2rem 0.4rem;
    border: 2px solid #006eff;
    color: #006eff;
}
.form-inline button:hover{
    background-color: #006eff;
    border: 2px solid #006eff;
}
.form-inline input[type=search]{
    padding: 0.2rem 0.5rem;
}
/******** For Navbar **********/
.navbar img {
    width: 5rem;
    height: 4rem;
}

.navbar-nav li::after {
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    background: rgb(244, 67, 54);
    margin: auto;
    transition: 0.5s;
}

.navbar-nav li:hover::after {
    width: 80%;
}
#on{
    font-weight: bold;
    color: #f44336;
}
/********* About Page Start **********/
.main-about {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(background.jpg);
    background-position: center;
    background-size: cover;
}

.main-about h1 {
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 3rem;
    padding-top: 150px;
    text-align: center;
}
@media only screen and (min-width: 000px) and (max-width: 1024px){
    .navbar-nav li:hover::after {
        width: 0%;
    }
    .nav-link:hover {
        color: #006eff;
    }
}
/* campas page */
.hostel {
    background-color: #ebebeb;
    width: 100%;
    padding: 5rem 0rem;
}

.hostel-header {
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
}

.hostel-p {
    font-size: 1.3rem;
    text-align: center;
    margin: 2rem 10rem;
}

.hostel-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 0% 10%;
}


.hostel-col {
    background-color: rgb(255, 255, 255);
    /* border: 2px solid rgb(0, 0, 0); */
    position: relative;
    overflow: hidden;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 15px 0px black;
}

.hostel-col:hover {
    box-shadow: none;
}

.hostel-col img {
    width: 99%;
    height: 250px;
    display: block;
    margin: 0.2rem auto 1rem;
    box-shadow: 0px 0px 5px 0px black;
}

.hostel-col h3 {
    color: #1d1d1d;
    background-color: rgba(0, 110, 255, 0.6);
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0rem 0rem;
}

.vis {
    background: rgba(66, 66, 66, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    opacity: 0;
}

.vis a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #006eff;
    box-shadow: 3px 1px 3px black;
    color: white;
    margin: auto;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
}
.vis a:focus{
    box-shadow: inset 3px 1px 3px black;
}

#visid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #f44336;
    box-shadow: 0px 0px 10px 0px black;
    color: white;
    margin: auto;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.vis:hover {
    opacity: 1;
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .hostel-header {
        font-size: 3.3rem;
    }

    .hostel-p {
        font-size: 1.2rem;
    }

    .hostel-col h3 {
        color: #1d1d1d;
        font-size: 1.3rem;
    }

    .vis a {
        font-size: 1.1rem;
    }

    #visid {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    .hostel-header {
        font-size: 3.1rem;
    }

    .hostel-p {
        font-size: 1.1rem;
    }

    .hostel-col h3 {
        color: #1d1d1d;
        font-size: 1.1rem;
    }

    .vis a {
        font-size: 1rem;
    }

    #visid {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
    .hostel-header {
        font-size: 3rem;
    }

    .hostel-p {
        font-size: 1rem;
    }

    .hostel-col h3 {
        color: #1d1d1d;
        font-size: 1rem;
    }

    .vis a {
        font-size: 0.9rem;
    }

    #visid {
        font-size: 0.7rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hostel-header {
        font-size: 2.9rem;
    }
    .hostel-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        margin: 0% 10%;
    }
    .hostel-col3{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .hostel-p {
        margin: 2rem 5rem;
        font-size: 0.9rem;
    }

    .hostel-col h3 {
        font-size: 1rem;
    }

    .vis a {
        font-size: 0.8rem;
    }

    #visid {
        font-size: 0.6rem;
    }
}
@media only screen and (min-width: 000px) and (max-width: 768px) {
    .hostel-header {
        font-size: 2.9rem;
    }
    .hostel-row {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        margin: 0% 10%;
    }
    .hostel-p {
        margin: 2rem 2rem;
        font-size: 0.8rem;
    }

    .hostel-col h3 {
        font-size: 1rem;
    }

    .vis a {
        font-size: 0.7rem;
    }

    #visid {
        font-size: 0.5rem;
    }
}
/* campas page End*/
/* Footer page start */
/* Footer page start */
.footer {
    width: 100%;
    height: 300px;
    text-align: center;
    padding: 20px 0%;
    background-image: linear-gradient(70deg, rgb(20, 20, 20), rgb(0, 0, 0));
    border-top: 5px solid #006eff;
}

.footer h1 {
    color: #ffffff;
    font-size: 2.5rem;
}

.footer h1::after {
    content: "";
    width: 350px;
    height: 3px;
    display: block;
    background: #ffffff;
    margin: auto;
    transition: 0.5s;
}

.social-media-links ul {
    display: block;
}

.social-media-links ul li {
    display: inline-block;
    margin: 20px 0px 0px;
    padding: 10px 20px;
    font-size: 1.8rem;
}

.social-media-links ul li a {
    color: #006eff;
}

.social-media-links ul li a:hover {
    color: #f44336;
}
.footer p{
    margin: 30px 0px;
    font-size: 1.5rem;
    color: #d1d1d1;
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .footer h1 {
        font-size: 2.4rem;
    }

    .social-media-links ul li {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    .footer h1 {
        font-size: 2.3rem;
    }

    .social-media-links ul li {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
    .footer h1 {
        font-size: 2.2rem;
    }

    .social-media-links ul li {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer {
        width: 100%;
        height: 250px;
    }

    .footer h1 {
        font-size: 2rem;
    }

    .social-media-links ul li {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 000px) and (max-width: 768px) {
    .footer {
        width: 100%;
        height: 250px;
    }
    .footer h1 {
        font-size: 1.7rem;
    }
    .footer h1::after {
        content: "";
        width: 250px;
        height: 3px;
        display: block;
        background: #ffffff;
        margin: auto;
        transition: 0.5s;
    }

    .social-media-links ul li {
        font-size: 1.1rem;
    }
    .footer p{
        margin: 30px 0px;
        font-size: 1rem;
        color: #d1d1d1;
    }
}

/* Footer page end */